<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(200, 100, 23) ;">

    <h1>Iris flower prediction</h1>
    <form method="POST" action="/api">
        <label>SepalLengthCm:</label>
        <input type="text" name="SepalLengthCm">
        </select>
        <br>
        <br>

        

        <label>SepalWidthCm:</label> 
        <input type="text" name="SepalWidthCm">
        </select>
        <br>
        <br>

        <label>PetalLengthCm:</label> 
        <input type="text" name="PetalLengthCm">
        </select>
        <br>
        <br>

        <label>PetalWidthCm:</label> 
        <input type="text" name="PetalWidthCm">
        </select>
        <br>
        <br>
     
        
        
        <input type="submit" value="SUBMIT">
        <br><br>
    
        <p>Iris flower is== <b>{{pred}}</b></p>
    </form>
    
        

</body>
</html>
    
</body>
</html>